<h1 style="color:red">ADMIN</h1>
<ul class="users">
<h4>data(<%= @num %>)</h4><br>
<% if @num != 0%>
<table border="2">
<tr>
   <th>Username</th>
   <th>Delete</th>
   <th>Status</th>
</tr>
  <% @users.each do |user| %>
  <tr>
      <td><%= link_to user.username, user %></td>
      <td><%= link_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% if user.is_active.to_s=="true" %>
         <td><h5 style="color:green">active</h5></td>
      <% end %>
      <% if user.is_active.to_s=="false" %>
         <td><h5 style="color:red">disable</h5></td>
      <% end %>
  </tr>
  <% end %>
  </table>
  <% end %>
</ul>